.footer {
    background-color: $grey-900;

    // .footer__links
    &__links {
        display: flex;
        justify-content: center;
        gap: 8%;
        padding: 15px 0;
        font-size: 24px;
        
    }

    // .footer__link
    &__link {
        color: $grey-200;
        transition: color .3s ease;

        &:hover {
            color: $orange-400;
        }
    }
    
    // .footer__copyright
    &__copyright {
        padding: 10px 0;
        opacity: 0.5;
        font-size: 13px;
        color: $white;
        text-align: center;
    }
}
