.titleBlock {
    text-align: center;
}

.title {
    padding-top: 108px;
    color: $grey-900;
    font: 36px/43px $ffr;
    
    @media (max-width:1024px) {
        padding: 40px 0 0 0;
    }

    @media (max-width:768px) {
        font-size: 28px;
    }
}

.fab:hover {
    color: $orange-400;
}

button {
    font-weight: 600;
    transition: all 0.3s;
}

.link {
    text-decoration: none;
    display: block;
    height: 100;    
}

.link2 {
    color: $white;
    text-decoration: none;
    display: block;
    height: 100;
}

.link-sn-border {
    text-decoration: none;
    color: $white;
}

.animated {
    animation-name: Appearance;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  
    @keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}



.trial {
    padding: 130px 0 35px;
    background-color: $grey-300;

    @media (max-width: 768px) {
        padding: 120px 0 25px;
    }

	// .trial__info
	&__info {
        flex: 1 1 300px;
	}

    // .trial__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
        flex-wrap: wrap;

        @media (max-width:768px) {
            justify-content: center;
            gap: 60px;
        }
    }

    // .trial__header
    &__header {
        max-width: 525px;
        margin-top: 33px;
        color: $white;
        font-family: $ffr;
        font-size: 36px;
        
        @media (max-width:768px) {
            font-size: 21px;
        }
    }

    // .trial__stick
    &__stick {
        content: '';
        background-color: $white;
        width: 74px;
        height: 2px;
        margin: 36px 0;
    }

    // .trial__text
    &__text {
        max-width: 461px;
        color: $white;
        opacity: 0.8;
        font-family: $ffr;
        font-size: 16px;
        font-weight: 300;

        @media (max-width:768px) {
            justify-content: center;
            gap: 60px;
        }
    }

    // .trial__download
    &__download {
        margin-top: 44px;
        padding: 12px 30px;
        color: $white;
        background-color: inherit;
        border: 2px solid $white;
        font-size: 15px;

        &:hover {
            color: $grey-700;
            background-color: $grey-200;
        }
    }

    // .trial__form
    &__form {
        margin-top: 35px;
    }
}



.social {
    background-color: $white;
    margin-right: 5px;
    
    // .social__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin: 22px 0 30px;

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    // .social__info
    &__info {
        max-width: 375px;

        @media (max-width:768px) {
            max-width: 100%;
        }
    }

    // .social__title
    &__title {
        color: $grey-700;
        font-size: 20px;
        font-weight: 700;
    }

    // .social__text
    &__text {
        margin-top: 12px;
        color: $grey-400;
        font-size: 14px;
        line-height: 1.5;
    }
    
    // .social__links
    &__links {
        display: flex;
        align-items: center;
        gap: 40px;
        font-family: 'Font Awesome';
        font-size: 48px;
        color: $grey-200;

        @media (max-width:768px) {
            justify-content: space-between;
            gap: 0;
            width: 80%;
            font-size: 40px;
        }

        @media (max-width:475px) {
           width: 100%;
           font-size: 35px;
        }
    }
}



.tabs {
    background-color: $grey-100;
    padding: 125px 0 157px;

    @media (max-width:768px) {
        padding: 80px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }
    
    // .tabs__inner
    &__inner {
        display: grid;
        grid-template-columns: 112px 1fr auto;
        gap: 40px;

        @media (max-width:768px) {
            grid-template-columns: 112px 1fr;
        }
    }
    
    // .tabs__tabs
    &__tabs {
        border-radius: 4px;
        overflow: hidden;

        @media (max-width:550px) {
            display: none;
        }
    }

    // .tabs__tab
    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: $grey-700;
        border-bottom: 1px solid $grey-100;
        color: $white;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            transition: all 0.2s;
            box-shadow: 0 0 10px $grey-900;
        }
    }

    // .tabs__description
    &__description {
        max-width: 495px;
        
        @media (max-width:768px) {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }

    // .tabs__title
    &__title {
        padding-bottom: 52px;
        color: $grey-900;
        font-size: 20px;
        font-weight: 700;
    }

    // .tabs__text
    &__text {
        color: $grey-400;
        font-size: 14px;
        line-height: 1.5;

        p {
            padding-bottom: 18px;
        }
    }

    // .tabs__button
    &__button {
        height: 46px;
        margin-top: 40px;
        padding: 10px 25px;
        background: $orange-400;
        border-radius: 4px;
        color: $white;
        font-size: 15px;
        text-align: center;
        transition: all .3s ease;

        &:hover {
            background: $orange-300;
            box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
        }
    }

    // .tabs__images
    &__images {
        position: relative;
        max-width: 320px;

        @media (max-width:768px) {
            justify-self: center;
            align-self: center;
        }

        @media (max-width:550px) {
            display: none;
        }
    }

    // .tabs__image
    &__image {
        width: 100%;
    }
}

.activeTab {
    background-color: $orange-400;

    &:hover {
        box-shadow: 0 0 0px $grey-900;
    }
}

.stick {
    padding: 26px 0;
}



.section {
    height: 486px;

    // .section__container
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 5px;

        @media (max-width:1024px) {
            flex-direction: column;
        }
    }

    @media (max-width:1024px){
        height: 750px;
    }

    // .section__img
    &__img {
        width: 453px;
        height: 303px;
        margin: 127px 0 0 0px;
        @media (max-width:1024px) {
            margin: 20px auto 0 auto;
        }

        @media (max-width:475px) {
            width: 300px;
            height: 200px;
        }
    }

    // .section__textBlock
    &__textBlock {
        margin: 50px 0 0 0;
        width: 450px;

        @media (max-width:1024px) {
            margin: 20px auto 0 auto;    
        }

        @media (max-width:475px) {
            width: 310px;
        }
    }

    // .section__header
    &__header {
        font-size: 20px;
        line-height: 43px;
        font-weight: 700;
        color: $grey-900;
    }

    // .section__text
    &__text {
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;

        p {
            padding: 10px 0;
        }
    }

    // .section__features
    &__features{
        width: 450px;
        height: 280px;
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;

        @media (max-width:475px) {
            width: 310px;
        }
    }

    // .section__featureHeader
    &__featureHeader {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: $grey-900;
        padding: 33px 0 12px 0;
    }

    // .section__featureBlock
    &__featureBlock {
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .section__fa
    &__fa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Font Awesome';
        font-size: 16px;
        line-height: 1.2;
        color: $orange-400;
        width: 40px;
        height: 40px;
        border: 1px solid $orange-400;
        border-radius: 50%;
        margin: 0 0 0 5px;
        flex-shrink: 0;
    }

    // .section__feature
    &__feature {
        width: 390px;
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;

        @media (max-width:475px) {
            width: 300px;
            padding: 0 0 0 10px;
        }
    }
}



.section2 {
    background-color: $grey-100;
    height: 524px;

    @media (max-width:1024px) {
        height: 624px;
    }

    @media (max-width:475px) {
        height: 584px;
    }

    // .section2__img
    &__img {
        display: block;
        width: 453px;
        height: 303px; 
        padding: 130px 0 0 0;
        margin-left: auto;

        @media (max-width:1024px) {
            padding: 10px 0 0 0;
            margin: 0 auto;
        }

        @media (max-width:475px) {
            width: 300px;
            height: 200px;
        }
    }
}



.awesome {
    height: 550px;

    @media (max-width:1024px) {
        height: 830px;
    }

    // .awesome__headerText
    &__headerText {
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;
    }

    // .awesome__reasons
    &__reasons {
        text-align: center;
        height: 220px;
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;

        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 0;
        }
    }

    // .awesome__reason
    &__reason {
        margin: 20px 0 0 0;
    }

    // .awesome__fa
    &__fa {
        font-family: 'Font Awesome';
        font-size: 32px;
        line-height: 1.2;
        color: $orange-400;
        margin: -52px 0 0 0;
    }

    // .awesome__reasonHeader
    &__reasonHeader {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $grey-700;
        margin: 25px 0;
    }

    // .awesome__reasonText
    &__reasonText {
        max-width: 360px;
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;
        padding: 0 5px;
        
        @media (max-width:475px){
            width: 310px;
        }
    }
}



.pricing {
    height: 800px;
    background-color: $grey-100;

    @media (max-width:768px) {
        height: 1750px;
    }

    // .pricing__header
    &__header {
        padding: 40px 0 0 0;
        font-family: $ffr;
        font-size: 28px;
        line-height: 43px;
        color: $grey-900;
    }

    // .pricing__headerText
    &__headerText {
        font-size: 14px;
        line-height: 20px;
        color: $grey-400;
    }

    // .pricing__columns
    &__columns {
        padding: 80px 0 0 0;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: flex-end;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            padding: 40px 0 0 0;
        }
    }

    // .pricing__column
    &__column {
        width: 343px;
        padding: 0 5px;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            padding: 0 5px 20px 5px;
        }

        @media (max-width:768px) {
            width: 310px;
        }
    }

    // .pricing__columnHead
    &__columnHead {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
        background-color: $grey-700;
    }

    // .pricing__columnPlan
    &__columnPlan {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
        border-bottom: 1px solid $white;
        height: 59px;
    }

    // .pricing__columnCost
    &__columnCost {
        font-family: $ffr;
        font-size: 35px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 17px 0;

        span {
            font-size: 94px;
        }

        p {
            padding: 46px 0 0 0;
        }
    }

    // .pricing__columnTime
    &__columnTime {
        opacity: 0.5;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        font-style: italic;
        color: $white;
        padding: 0 0 21px 0;
    }

    // .pricing__columnString
    &__columnString {
        height: 5px;
        background-color: $orange-400;
    }

    // .pricing__columnLists
    &__columnLists {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: $grey-400;
        background-color: $white;
    }

    // .pricing__column2String
    &__column2String {
        display: flex;
        height: 40px;
        background-color: $orange-400;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
    }

    // .pricing__columnList
    &__columnList {
        background-color: $white;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $grey-100;
            height: 40px;
        }
    }
}



.saying {
    height: 570px;

    @media (max-width:1024px) {
        height: 400px;
    }

    @media (max-width:768px) {
        height: 900px;
    }

    @media (max-width:475px) {
        height: 980px;
    }

    // .saying__info
    &__info {
        display: flex;
        justify-content: space-around;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .saying__customer
    &__customer{
        padding: 55px 5px 0 5px;
        @media (max-width:1024px) {
            padding: 25px 5px 0 5px;
        }
    }

    // .saying__img
    &__img {
        @media (max-width:1024px) {
            width: 220px;
            height: 130px;
            margin: 0 0 0 6px;
        }
    }

    // .saying__text
    &__text {
        width: 249px;
        height: 147px;
        font-size: 14px;
        line-height: 1.2;
        font-style: italic;
        color: $grey-400;
        margin-top: -125px;
        padding: 0 10px;

        @media (max-width:1024px) {
            width: 200px;
            margin: -125px 0 0 6px;
        }
    }

    // .saying__Icon
    &__Icon {
        display: flex;
        margin: -16px 0 0 2px;
    }

    // .saying__avatar
    &__avatar{
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    // .saying__people
    &__people {
        padding: 0 0 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .saying__name
    &__name {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: $grey-700;
        padding: 0 0 5px 0;
    }

    // .saying__job
    &__job {
        font-size: 14px;
        line-height: 1.2;
        color: $grey-400;
    }
}



.stylish {
    height: 300px;
    background-color: $grey-300;

    @media (max-width:475px) {
        height: 340px;
    }

    // .stylish__header
    &__header {
        padding: 40px 0 0 0;
        font-family: $ffr;
        line-height: 1.2;
        color: $white;
    }

    // .stylish__headerText
    &__headerText {
        opacity: 0.8;
        font-family: $ffr;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: $white;

        @media (max-width:768px) {
            padding: 0 5px;
        }
    }

    // .stylish__download
    &__download {
        font-size: 15px;
        line-height: 1.2;
        color: $white;
        width: 135px;
        height: 45px;
        border: 2px solid $white;
        text-align: center;
        line-height: 41px;
        margin: 33px auto 0;

        &:hover {
            background-color: $grey-200;

            a {
                color: $grey-700;
            }
        }
    }
}



.contact {
    height: 612px;
    
    @media (max-width:1120px) {
        height: 850px;
    }
    
    @media (max-width:1024px) {
        height: 770px;
    }

    @media (max-width:475px) {
        height: 720px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .contact__box
    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media (max-width:1120px) {
            flex-direction: column;
            align-items: center;;
        }
    }

    // .contact__data
    &__data {
        display: flex;
        flex-direction: column;
        margin: 80px 22px 0 22px;

        @media (max-width:475px) {
            margin: 40px 22px 0 22px;
        }
    }

    // .contact__input
    &__input {
        width: 527px;
        height: 31px;
        font-size: 14px;
        line-height: 1.2;
        color: $grey-400;
        border-bottom: 1px solid $grey-200;
        margin: 0 0 30px 0;

        @media (max-width:565px) {
            width: 427px;
        }

        @media (max-width:475px) {
            width: 310px;
        }
    }

    // .contact__area
    &__area {
        overflow: hidden;
        resize: none;
        width: 527px;
        height: 155px;
        border-bottom: 1px solid $grey-200;
        font-size: 14px;
        line-height: 1.2;
        color: $grey-400;

        @media (max-width:565px) {
            width: 427px;
        }

        @media (max-width:475px) {
            width: 310px;
        }
    }
    
    // .contact__button
    &__button {
        width: 148px;
        height: 46px;
        text-align: center;
        background-color: $orange-300;
        font-size: 15px;
        line-height: 40px;
        color: $white;
        margin: 44px auto 0 auto;
        border-radius: 4px;

        &:hover{
            background-color: $orange-300;
            box-shadow: 0 0 5px $grey-900;
        }
    }
}