.trial {
    padding: 130px 0 35px;
    background-color: $grey-300;

    @media (max-width: 768px) {
        padding: 120px 0 25px;
    }

	// .trial__info
	&__info {
        flex: 1 1 300px;
	}

    // .trial__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
        flex-wrap: wrap;

        @media (max-width:768px) {
            justify-content: center;
            gap: 60px;
        }
    }

    // .trial__header
    &__header {
        max-width: 525px;
        margin-top: 33px;
        color: $white;
        font-size: 36px;
        line-height: 1.15;
        
        @media (max-width:768px) {
            font-size: 21px;
        }
    }

    // .trial__stick
    &__stick {
        content: '';
        background-color: $white;
        width: 74px;
        height: 2px;
        margin: 36px 0;
    }

    // .trial__text
    &__text {
        max-width: 461px;
        color: $white;

        @media (max-width:768px) {
            justify-content: center;
            gap: 60px;
        }
    }

    // .trial__download
    &__download {
        margin-top: 44px;
    }

    // .trial__form
    &__form {
        margin-top: 35px;
    }
}



.social {
    background-color: $white;
    margin-right: 5px;
    
    // .social__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin: 22px 0 30px;

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    // .social__info
    &__info {
        max-width: 375px;

        @media (max-width:768px) {
            max-width: 100%;
        }
    }

    // .social__title
    &__title {
        color: $grey-700;
        font-size: 20px;
        font-weight: 700;
    }

    // .social__text
    &__text {
        margin-top: 12px;
        color: $grey-400;
    }
    
    // .social__links
    &__links {
        display: flex;
        align-items: center;
        gap: 40px;
        font-family: 'Font Awesome';
        font-size: 48px;
        color: $grey-200;

        @media (max-width:768px) {
            justify-content: space-between;
            gap: 0;
            width: 80%;
            font-size: 40px;
        }

        @media (max-width:475px) {
           width: 100%;
           font-size: 35px;
        }
    }
}



.tabs {
    background-color: $grey-100;
    padding: 125px 0 157px;

    @media (max-width:768px) {
        padding: 80px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }
    
    // .tabs__inner
    &__inner {
        display: grid;
        grid-template-columns: 112px 1fr auto;
        gap: 40px;

        @media (max-width:768px) {
            grid-template-columns: 112px 1fr;
        }
    }
    
    // .tabs__tabs
    &__tabs {
        display: flex;
        flex-direction: column;
        gap: 1px;
        background: $grey-100;


        @media (max-width:550px) {
            display: none;
        }
    }

    // .tabs__tab
    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: $grey-700;
        color: $white;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            transition: all 0.2s;
            box-shadow: 0 0 10px $grey-900;
        }

        &:first-child {
            border-radius: 4px 4px 0 0;
        }

        &:last-child {
            border-radius: 0 0 4px 4px;
        }
    }

    // .tabs__description
    &__description {
        max-width: 495px;
        
        @media (max-width:768px) {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }

    // .tabs__title
    &__title {
        padding-bottom: 52px;
        color: $grey-900;
        font-size: 20px;
        font-weight: 700;
    }

    // .tabs__text
    &__text {
        color: $grey-400;

        p {
            padding-bottom: 18px;
        }
    }

    // .tabs__button
    &__button {
        margin-top: 44px;
        padding: 10px 25px;
    }

    // .tabs__images
    &__images {
        position: relative;
        align-self: center;
        max-width: 320px;

        @media (max-width:768px) {
            justify-self: center;
        }

        @media (max-width:550px) {
            display: none;
        }
    }

    // .tabs__image
    &__image {
        width: 100%;
        object-fit: contain;
    }

    .activeTab {
        background-color: $orange-400;
    
        &:hover {
            box-shadow: 0 0 0px $grey-900;
        }
    }
}



.section {
    padding-top: 127px;

    @media (max-width:768px) {
        padding-top: 80px;
    }

    @media (max-width:475px) {
        padding-top: 40px;
    }

    // .section__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .section__img
    &__img {
        width: 100%;
        max-width: 450px;
        object-fit: contain;
    }

    // .section__description
    &__description {
        width: 100%;
        max-width: 450px;
        margin-top: 50px;

        @media (max-width:768px) {
            margin-top: 0;
        }
    }

    // .section__header
    &__header {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        color: $grey-900;
    }

    // .section__text
    &__text {
        margin-top: 10px;
        color: $grey-400;

        p {
            padding-bottom: 10px;
        }
    }

    // .section__features
    &__features {
        color: $grey-400;
    }

    // .section__feature
    &__feature {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 33px;
    }

    // .section__feature-header
    &__feature-header {
        color: $grey-900;
        font-weight: 600;
    }

    // .section__feature-row
    &__feature-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    // .section__feature-icon
    &__feature-icon {
        flex: 0 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-left: 5px;
        border: 1px solid currentColor;
        border-radius: 50%;
        color: $orange-400;
        font-size: 16px;
    }

    // .section__feature-text
    &__feature-text {
        width: 100%;
        max-width: 390px;
        color: $grey-400;
    }
}



.awesome {
    padding: 127px 0 80px;

    @media (max-width:768px) {
        padding: 80px 0 50px;
    }

    @media (max-width:475px) {
        padding: 40px 0 25px;
    }


    // .awesome__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    // .awesome__reasons
    &__reasons {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 30px;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .awesome__reason
    &__reason {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    // .awesome__fa
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border: 2px solid currentColor;
        border-radius: 50%;
        color: $orange-400;
        font-family: 'Font Awesome';
        font-size: 32px;
    }

    // .awesome__reason-header
    &__reason-header {
        color: $grey-700;
        font-size: 20px;
        font-weight: 700;
    }

    // .awesome__reason-text
    &__reason-text {
        max-width: 360px;
        color: $grey-400;
    }
}



.pricing {
    padding: 80px 0;
    background-color: $grey-100;

    @media (max-width:768px) {
        padding: 60px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }

    // .pricing__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 80px;

        @media (max-width:768px) {
            gap: 40px;
        }
    }

    // .pricing__columns
    &__columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: end;
        text-align: center;
        gap: 20px;

        @media (max-width:768px) {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            gap: 40px;
        }

        @media (max-width:550px) {
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 40px;
        }
    }

    // .pricing__column
    &__column {
        width: 100%;
        max-width: 340px;

        &--popular {

            @media (max-width:768px) {
                grid-column: 1/3;
                grid-row: 1/2;
                width: 50%;
            }

            @media (max-width:550px) {
                grid-column: auto;
                grid-row: auto;
                width: 100%;
            }
        }
    }

    // .pricing__column-head
    &__column-head {
        background-color: $grey-700;
        color: $white;
        font-size: 20px;
        font-weight: 700;
    }

    // .pricing__column-plan
    &__column-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 0;
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 20px;
        font-weight: 700;
    }

    // .pricing__column-cost
    &__column-cost {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: $ffr;
        font-size: 35px;
        font-weight: 700;

        span {
            font-size: 94px;
        }

        p {
            padding-top: 46px;
        }
    }

    // .pricing__column-time
    &__column-time {
        padding-bottom: 21px;
        color: $white;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        font-style: italic;
        opacity: 0.5;
    }

    // .pricing__column-string
    &__column-string {
        height: fit-content;
        min-height: 5px;
        background-color: $orange-400;
        color: $white;
        line-height: 1.6;
        font-weight: 700;
    }

    // .pricing__column-list
    &__column-list {
        background-color: $white;
        color: $grey-400;
        text-transform: uppercase;

        li {
            padding: 12px 0;
            border-bottom: 1px solid $grey-100;
        }
    }
}



.saying {
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 60px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }

    // .saying__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    // .saying__customers
    &__customers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 25px;
    }

    // .saying__customer
    &__customer-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .saying__comment
    &__comment {
        position: relative;
        width: 100%;
        max-width: 250px;
        padding: 10px;
        background: $grey-100;
        color: $grey-400;
        font-style: italic;

        &::before{
            position: absolute;
            left: 26px;
            bottom: -16px;
            content: '';
            border: 8px solid transparent;
            border-top-color: $grey-100;
        }
    }

    // .saying__customer
    &__customer {
        display: flex;
        gap: 15px;
    }

    // .saying__avatar
    &__avatar{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
    }

    // .saying__people
    &__people {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
    }

    // .saying__name
    &__name {
        color: $grey-700;
        font-size: 20px;
        font-weight: 700;
    }

    // .saying__job
    &__job {
        color: $grey-400;
    }
}



.stylish {
    padding: 80px 0;
    background-color: $grey-300;

    @media (max-width:768px) {
        padding: 60px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }

    // .stylish__inner
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    // .stylish__title
    &__title {
        color: $white;
    }

    // .stylish__text
    &__text {
        opacity: 0.8;
        color: $white;
    }
}



.contact {
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 60px 0;
    }

    @media (max-width:475px) {
        padding: 40px 0;
    }

    // .contact__inner
    &__inner {
        display: grid;
        gap: 40px;
    }
}