html, body{
    height: 100%;
}

body {
    position: relative;
    min-width: 320px;
    font: 16px/1.15 "Helvetica Neue", sans-serif;
    background-color: #fff;
    color: #000;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}